@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(255 255 255);
  background: linear-gradient(90deg, rgb(9 20 40) 0%, rgb(10 20 40) 100%)
    rgb(9 20 40);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
